@media screen and (max-width: 575px) {
    
    body {
            text-align: center;
        }   
   

}
/* .navbar-nav {
    flex-direction: row;
}
.nav-item {
    margin-right: 10px;

}
body {
    text-align: center;
}
.first {
    width: 100%;
}
.navbar {
    flex-wrap: nowrap;
} */
/* .navbar-brand {
    margin-left: auto;

} */